/* GalleryImage.css */

.gallery_image_container {
  position: relative;
  cursor: pointer;
  min-height: 8.38125rem;
  margin-bottom: 0.5rem;
}

.inspo_image_container img:first-child {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.gallery_image {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.3s ease;
}

.gallery_image_container:hover {
  box-shadow: 2px 6px 7px rgba(28, 34, 51, 0.2);
  outline: none;
}

.check_active {
}

.check_inactive {
  display: none;
}

.gallery_image_container img:first-child {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0.5rem;
}

.gallery_image_container:hover .image_overlay {
  opacity: 1;
}

@media (min-width: 769px) {
  .gallery_image_container {
    width: 12.6041875rem;
  }
}
